<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>crea</title>
</head>

<body>
  <h1>crea (shop editor)</h1>
  <form action="/shops/create.action" method="post">
    <input value="" name="nome" placeholder="nome" />
    <input value="" name="indirizzo" placeholder="indirizzo" />
    <input value="" name="civico" placeholder="civico" type="number" />
    <input type="submit" value="crea" />
  </form>
</body>

</html>